{% extends 'base.html' %}

{% block title %}Welcome to site {% endblock %}
{% block content %}
<!--    cart -->
    <div class="card">
        <div class="card-header">
            Category
        </div>
        <a href="/" class="">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad enim illo, libero nemo non officia officiis pariatur rem suscipit. Ab corporis earum eligendi est fugit iusto obcaecati quam reiciendis totam.</p>
            </div>
        </a>
    </div>
{% endblock %}